.send{
    width: 120px;
    height: 50px;
    border-radius: 100px;
    margin-left: 90px;
}
input{
    height: 45px;
    width: 300px;
    border-radius: 100px;
    text-align: center;
    margin-top: 10px;
    border-top-style: hidden;
    border-left-style: hidden;
    
}
label{
    padding-left: 20px;
}
.intrabank{
    margin-top: 100px;
    margin-left: 350px;

}